<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dsmpharm.bidding.mapper.BiddingUserRoleMapper">

<!--    根据userId查询其角色-->
    <select id="selectByUserId" resultType="com.dsmpharm.bidding.pojo.BiddingUserRole">
        select * from bidding_user_role where delflag='0' and user_id=#{userId}
    </select>
</mapper>