<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dsmpharm.bidding.mapper.BiddingProjectTypeMapper">

<!--获取所有未删除的项目类型-->
    <select id="selectNoDel" resultType="com.dsmpharm.bidding.pojo.BiddingProjectType">
        select * from bidding_project_type
        where delflag='0'
    </select>
</mapper>