<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dsmpharm.bidding.mapper.BiddingProjectMapper">


    <select id="selectByNoDel" resultType="java.util.Map">
        select * from bidding_project bp
        left join app_flow_apply afa on bp.id = afa.project_id
        left join app_flow_approval afap on afap.phase_id =afa.id
        where bp.delflag='0' and afa.delflag='0' and afap.delflag='0' and afap.user_id='' and
    </select>
</mapper>