<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dsmpharm.bidding.mapper.BiddingUserFrameworkMapper">

<!--    查询所有未删除的架构关系-->
    <select id="selectAllNoDel" resultType="java.util.Map">
        select bu1.name graParentName,bu1.id graParentId,bu2.id parentId,
        bu2.name parentName,bu3.name name,bu3.id userId,buf.id id,buf.status status
        from bidding_user_framework buf
        left join bidding_user bu1 on bu1.id=buf.gra_parent_id
        left join bidding_user bu2 on bu2.id=buf.parent_id
        left join bidding_user bu3 on bu3.id=buf.user_id
        where buf.delflag='0' and buf.gra_parent_id != ''
        and bu1.delflag='0' and bu2.delflag='0' and bu3.delflag='0'
        <if test="userId !=null and  userId!='' ">
            and buf.user_id= #{userId}
        </if>
        <if test="parentId !=null and  parentId!='' ">
            and buf.parent_id= #{parentId}
        </if>
        <if test="graParentId !=null and  graParentId!='' ">
            and buf.gra_parent_id= #{graParentId}
        </if>
    </select>
    <select id="selectById" resultType="java.util.Map">
        select bu1.name graParentName,bu1.id graParentId,bu2.id parentId,
        bu2.name parentName,bu3.name name,bu3.id userId,buf.id id,buf.status status
        from bidding_user_framework buf
        left join bidding_user bu1 on bu1.id=buf.gra_parent_id
        left join bidding_user bu2 on bu2.id=buf.parent_id
        left join bidding_user bu3 on bu3.id=buf.user_id
        where buf.delflag='0' and bu1.delflag='0' and bu2.delflag='0' and bu3.delflag='0' and buf.id=#{id}
    </select>

<!--    查看大区经理是否空岗-->
    <select id="selectByGraParent" resultType="com.dsmpharm.bidding.pojo.BiddingUserFramework">
        select * from bidding_user_framework where (parent_id IS not NULL OR parent_id !='') and gra_parent_id=#{graParentId} and delflag='0'
    </select>
<!--    查看商务经理是否空岗-->
    <select id="selectByParent" resultType="com.dsmpharm.bidding.pojo.BiddingUserFramework">
                select * from bidding_user_framework where (user_id is not null OR user_id !='') and parent_id=#{parentId} and delflag='0'
    </select>
</mapper>