<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dsmpharm.bidding.mapper.BiddingContentBakMapper">

    <!--        将内容设置的数据从内容设置表复制到内容设置备份表-->
    <select id="copySetting">
        insert into bidding_content_bak (name,en_name,is_null,content_type_id,project_phase_id,version_num) SELECT name,en_name,is_null,content_type_id,project_phase_id ,version_num FROM bidding_content_settings where delflag='0'
    </select>
    <select id="selectByPhaseId" resultType="com.dsmpharm.bidding.pojo.BiddingContentBak">
                select distinct * from bidding_content_bak where project_phase_id=#{projectPhaseId} and version_num=#{versionNum}
    </select>
    <select id="selectByUpdate" resultType="java.util.Map">
        select distinct bcb.en_name enName,bpd.value value,bpd.id dataId from bidding_content_bak bcb
        LEFT JOIN bidding_project_data bpd on bcb.id=bpd.content_settings_id
        where project_phase_id=#{projectPhaseId} and version_num=#{versionNum}
    </select>
</mapper>