<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dsmpharm.bidding.mapper.BiddingProjectMapper">
    <!--    查询所有登录用户创建的项目-->
    <select id="selectByNoDel" resultType="java.util.Map">
        select DISTINCT bp.*,bpb.name projectName,bpph.name phaseName,bpt.name typeName from bidding_project bp
        LEFT JOIN bidding_project_bulid bpb on bpb.id=bp.project_bulid_id
        LEFT JOIN bidding_doc_interpretation bdi on bdi.id=bp.doc_interpretation_id
        LEFT JOIN bidding_product_collection bpc on bpc.id=bp.product_collection_id
        LEFT JOIN bidding_strategy_analysis bsa on bsa.id=bp.strategy_analysis_id
        LEFT JOIN bidding_info_filling bif on bif.id=bp.info_filling_id
        LEFT JOIN bidding_official_notice bon on bon.id=bp.official_notice_id
        LEFT JOIN bidding_project_summary bps on bps.id=bp.project_summary_id
        LEFT JOIN bidding_project_product bpp on bpp.project_id=bp.id
        LEFT JOIN bidding_project_phase bpph on bpph.id=bp.project_phase_now
        LEFT JOIN bidding_project_type bpt on bpt.id =bp.type_id
        WHERE bp.user_id=#{userId}
        <if test="status !=null and  status!='' ">
            and bp.status= #{status}
        </if>
        <if test="name !=null and name !='' ">
            and bpb.name like concat('%',#{name},'%')
        </if>
    </select>
<!--    查询所有登录用户待办的项目-->
    <select id="selectDealByNoDel" resultType="java.util.Map">
        select DISTINCT bp.*,bpb.name projectName,bpph.name phaseName,bpt.name typeName,afap.approve_result approveResult,afa.id applyId,afap.id approveId
        from app_flow_approval afap
        LEFT JOIN app_flow_apply afa on afap.apply_id=afa.id
        left join bidding_project bp on bp.id=afa.project_id
        LEFT JOIN bidding_project_bulid bpb on bpb.id=bp.project_bulid_id
        LEFT JOIN bidding_doc_interpretation bdi on bdi.id=bp.doc_interpretation_id
        LEFT JOIN bidding_product_collection bpc on bpc.id=bp.product_collection_id
        LEFT JOIN bidding_strategy_analysis bsa on bsa.id=bp.strategy_analysis_id
        LEFT JOIN bidding_info_filling bif on bif.id=bp.info_filling_id
        LEFT JOIN bidding_official_notice bon on bon.id=bp.official_notice_id
        LEFT JOIN bidding_project_summary bps on bps.id=bp.project_summary_id
        LEFT JOIN bidding_project_product bpp on bpp.project_id=bp.id
        LEFT JOIN bidding_project_phase bpph on bpph.id=bp.project_phase_now
        LEFT JOIN bidding_project_type bpt on bpt.id =bp.type_id
        WHERE afap.user_id=#{userId}
        <if test="status !=null and  status!='' ">
            and bp.status= #{status}
        </if>
        <if test="name !=null and name !='' ">
            and bpb.name like concat('%',#{name},'%')
        </if>
    </select>
</mapper>