<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dsmpharm.bidding.mapper.BiddingUserMapper">

<!--查询所有未删除的用户-->
    <select id="selectAllNoDel" resultType="java.util.Map">
        select bu.id userId,bu.name,bu.email,bu.phone_number phoneNumber,bu.status,bu.delflag,bur.id,bur.role_id roleId,br.name roleName
        from bidding_user bu
        left join bidding_user_role bur on bu.id = bur.user_id
        left join bidding_role br on bur.role_id = br.id
        where bu.delflag ='0' and bur.delflag='0'
        <if test="roleId !=null and  roleId!='' ">
            and bur.role_id= #{roleId}
        </if>
        <if test="name !=null and name !='' ">
            and bu.name like concat('%',#{name},'%')
        </if>
    </select>
</mapper>